@import "../base/variables";
@import "../base/extends";
@import "../base/mixins";

/* footer */
.containerFooterIndex{
    background-color: $bg-color;
}

.redesOne{
    @extend %iconos;
}

.redestwo{
    @extend %iconos;
    justify-content: end;
}

.instagram{
    @include tamaño(32%)
}

.whatsapp, .correo{
    @include tamaño(25%)
}

.containerFooterContacto{
    background-color: $bg-color;
    .container-footer{
        padding-bottom: 73px;
    }
}

.logoFixed{
    position: fixed;
    bottom: 0%;
    right: 1%;
}
/* fin footer */
