/* header */
header{
    background-image: url("../multimedia/cesped.webp");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.navbar-nav{
    align-items: center;
    justify-content: space-evenly;
}

.active{
    font-size: 4rem;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    color: white;
}
/* fin header */