@import "../base/variables";
@import "../base/mixins";

/* main */
.zonaCentralIndex{
    background-color: $bg-color;
}

.mainGaleria{
    background-color: $bg-color;
    display: flex;
    justify-content: center;
}

.mainServicios{
    background-color: $bg-color;
}

.mainContacto{
    background-color: $bg-color;
    padding: 100px 0 100px 0;
}

.mainBlog{
    background-color: $bg-color;
    padding: 50px 0 100px 0;
}
/* fin main */